.blackpink {
    border: solid #96C291 3px;
} 
.bottom {
    background-color:#ED7B7B
}
.contact {
    background-color: #836096;
}
.header{
    background-color: #EBE76C;
}
.middle{
    background-color: #F0B86E;
}
.profile {
    border-radius: 50%;
}

body {
    margin: 0;
}
h3 {
    margin-top: 0;
}
hr {
    /* background-color: white; */
    border-style: dotted none none;
    /* height: 0; */
    width: 30%;
    border-color: rgb(243, 238, 238);
    border-width:5px;
    margin-bottom: 0;
}
